<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_car_app"
        android:label="K5 HUD AA Test"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HudTestCarAppService"
            android:exported="true"
            android:icon="@drawable/ic_car_app"
            android:label="K5 HUD AA Test">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
                <category android:name="androidx.car.app.category.FEATURE_CLUSTER" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />
    </application>
</manifest>
